extends layout

block content
  h1(style="")= title
  div(id='icon', style="line-height:140pt; font-size:200pt; font-size-adjust:0.55; margin-top:20px; overflow:block; text-align:center;", data-icon="")
    strong
      div(class="lead", style="clear:both; margin-top:40px; text-align:center;", id='stat_str') requesting your location...
  script(src="/js/tmprtr.js")
