extends layout

block content
  h1(style="")= title
  div(id='icon', style="line-height:140pt; font-size:200pt; margin-top:20px; padding-top:30px; text-align:center;", data-icon="")
    strong
      div(class="lead", style="clear:both; margin-top:40px; text-align:center;", id='status') requesting your location...
  script(src="/js/tmprtr.js")
