doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width; initial-scale=1.0; maximum-scale=1.0;")
    meta(name="apple-mobile-web-app-capable", content="yes")
    link(rel="apple-touch-icon-precomposed", href="/img/icon.png")
    link(rel="shortcut icon", href="/img/favicon.png", type="image/png")
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/fonts.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src="/js/bootstrap.min.js")
    script(src="/js/jquery-1.9.0.min.js")
  body
    block content
